<div class="max-w-lg mx-auto">
  <div *ngIf="contents.length === 0">
    <p>
      Welcome to PaLM ChatBot <br />
      Write a text to start.
    </p>
  </div>
  <div
    *ngFor="let content of contents"
    class="chat-message"
    [ngClass]="content.agent"
  >
    <div class="message-details">
      <p
        class="message-content"
        [ngClass]="{ loading: content.loading }"
        [innerHTML]="content.message | lineBreak"
      ></p>
    </div>
  </div>
  <!-- Message input -->
  <div class="mt-4 flex">
    <input
      type="text"
      placeholder="Send a message"
      [(ngModel)]="message"
      (keyup.enter)="sendMessage(message)"
      class="flex-1 p-2 border rounded-l-lg focus:outline-none focus:ring-2 focus:ring-blue-300"
    />
    <button (click)="sendMessage(message)" class="bg-blue-500 text-white p-2 rounded-r-lg hover:bg-blue-600">Send</button>
  </div>
</div>
